<%- include ('partials/_header') %>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fecha de Reserva</th>
                        <th>Hora Inicio</th>
                        <th>Hora Final</th>
                        <th>Comentario</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% data.forEach(function(item) { %>
                            <tr>
                                <td><%= item.fechareserva %></td>
                                <td><%= item.horainicio %></td>
                                <td><%= item.horafinal %></td>
                                <td><%= item.comentario %></td>
                                <td><%= item.estado %></td>
                                <td>
                                    <a href="/delete/<%= item.reservasid %> " class="btn btn-danger">Delete</a>
                                    <a href="/update/<%= item.reservasid %> " class="btn btn-info">Update</a>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
           <div class="card">
            <div class="card-body">
                <form action="/add" method="post">
                    <div class="form-group">
                        <input type="date" name="fechareserva" placeholder="Fecha de Reserva" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="time" name="horainicio" placeholder="Hora de Inicio" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="time" name="horafinal" placeholder="Hora Final" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="comentario" placeholder="Comentario" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="estado" placeholder="Estado" class="form-control">
                    </div>
                    <!-- Agregar campo para seleccionar la persona -->
                    <div class="form-group">
                        <select name="rutpersona" class="form-control">
                            <% if (personas) { %>
                                <% personas.forEach(function(persona) { %>
                                    <option value="<%= persona.rutpersona %>"><%= persona.nombrepersona %></option>
                                <% }); %>
                            <% } %>
                        </select>
                    </div>
                    <!-- Agregar campo para seleccionar la sala -->
                    <div class="form-group">
                        <select name="salaid" class="form-control">
                            <% if (salas) { %>
                                <% salas.forEach(function(sala) { %>
                                    <option value="<%= sala.salaid %>"><%= sala.nombresala %></option>
                                <% }); %>
                            <% } %>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">
                        Guardar reserva
                    </button>
                </form>
            </div>
           </div> 
        </div>
    </div>
</div>

<%- include ('partials/_footer') %>
