<%- include ('partials/_header') %>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email </th>
                        <th>Direccion </th>
                        <th>Contraseña</th>
                       
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                        <% data.forEach(function(item) { %>
                            <tr>
                                <td><%= item.nombreusuario %></td>
                                <td><%= item.apellidousuario %></td>
                                <td><%= item.email %></td>
                                <td><%= item.direccion %></td>
                                <td><%= item.contraseña %></td>
                                <!-- Agrega aquí más campos según tu modelo -->
                                <td>
                                    <a href="/delete/<%= item.usuarioid %> " class="btn btn-danger">Delete</a>
                                    <a href="/update/<%= item.usuarioid %> " class="btn btn-info">Update</a>
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                </tbody>
            </table>

        </div>
        <div class="col-md-5">
           <div class="card">
            <div class="card-body">
                <form action="/add" method="post">
                    <div class="form-group">
                        <input type="text" name="rutusuario" placeholder="Rut" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="nombreusuario" placeholder="Nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="apellidousuario" placeholder="Apellido" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="direccion" placeholder="Direccion" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="contraseña" placeholder="Contraseña" class="form-control">
                    </div>
                    <!-- Agrega aquí más campos según tu modelo -->
                    <button type="submit" class="btn btn-primary">
                        Guardar usuario
                    </button>
                </form>
            </div>
           </div> 
        </div>
    </div>
</div>

<%- include ('partials/_footer') %>